experiments/
/experiments
/paper
/scripts
/.lake
/.lake-packages
/.lean
/.DS_Store
*.olean
*.ilean
*.c
*.o
paper_final/*.aux
paper_final/*.log
paper_final/*.out
paper_final/*.fls
paper_final/*.fdb_latexmk
paper_final/*.synctex.gz
